#dieImg {
    display: none;
}

#rollDie {
    width: 100%;
    background-color: $color-aqua-2;
    color: $color-grey-light-1;
    padding: 2rem 3rem;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    border-radius: 100px;

    transition: all .2s;

    &:hover {
        transform: translateY(-.5rem);
        box-shadow: $shadow-small;
        background-color: $color-aqua-1;
        color: $color-grey-dark-2;
    }

    &:active,
    &:focus {
        transform: translateY(-.25rem);
        outline: none;
    }
}

.space {
    color: $color-grey-light-1;

    display: flex;
    justify-content: center;
    align-items: center;

    &__node {
        color: $color-grey-dark-1;
    }

    &__spoke-space {
        width: 2.5rem;
        height: 2.5rem;
    }

    &__reachable {
        border: none;
    }
}

.player-piece {
    width: 100%;
    margin: 1rem;
    padding: 1.5rem;
    box-shadow: $shadow;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &__slice {
        width: 2rem;
        height: 2rem;
        margin: .5rem 1rem;
        background-color: $color-grey-light-1;
    }

    &--small {
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
    }
}