body {
    height: 100vh;
}

header {
    height: 5%;
    background-color: $color-secondary-1-0;
}

main {
    height: 93%;
    background-color: $color-primary-0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gameboard {
    height: 100%;
    width: 100%;

    position: relative;

    flex: 3 1 0;

    $number-of-ring-spaces: 42;
    $number-of-spokes: 6;
    $space-height: 4rem;
    $space-width: 4rem;
    $spoke-height: 4rem;
    $spoke-width: 20rem;
    $ring-size: 65rem;
    $spoke-ring-size: $ring-size / 2;

    & > div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__ring {
        @include on-circle($item-count: $number-of-ring-spaces, $circle-size: $ring-size, $item-height: $space-height, $item-width: $space-width); 
    }

    &__spokes {
        @include on-circle($item-count: $number-of-spokes, $circle-size: $spoke-ring-size, $item-height: $spoke-height, $item-width: $spoke-width); 

        &--spoke {
            width: 26rem;

            display: flex;
            justify-content: space-evenly;
        }
    }

    &__center {
        height: $space-height * 2;
        width: $space-width * 2;    

        background-color: green !important;
        border-radius: 50%;
    }
}

.hud {
    background-color: $color-primary-4;
    height: 100%;

    flex: 2 1 0;
}

footer {
    height: 2%;
    background-color: $color-secondary-2-0;
}