body {
    height: 100vh;
}

header {
    height: 7%;
    background-color: $color-indigo-2;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    width: 25%;
    list-style: none;

    display: flex;
    justify-content: space-evenly;

    & li {
        font-size: 2rem;
        font-weight: 700;
        
        & a {
            color: $color-grey-light-1;
            text-decoration: none;
            cursor: pointer;
        }
    }
}

main {
    height: 91%;
    background-color: $color-grey-light-1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.gameboard {
    height: 100%;
    width: 100%;

    position: relative;

    flex: 3 1 0;

    display: flex;
    justify-content: center;
    align-items: center;

    // THESE ARE THE SETTINGS FOR THE BOARD SIZING; ADJUST THESE WHEN DEALING WITH RESPONSIVE
    $number-of-ring-spaces: 42;
    $number-of-spokes: 6;
    $space-size: 2.5rem;
    $spoke-width: 26rem;
    $spoke-height: 2.5rem;
    $ring-size: 50rem;
    $spoke-ring-size: $ring-size / 2;

    &__ring {
        @include on-circle($item-count: $number-of-ring-spaces, $circle-size: $ring-size, $item-height: $space-size, $item-width: $space-size); 

        z-index: 1000;
    }

    &__spokes {
        @include on-circle($item-count: $number-of-spokes, $circle-size: $spoke-ring-size, $item-height: $spoke-height, $item-width: $spoke-width);

        width: 100%;
        height: 100%;

        &--spoke {
            padding: 0 1rem 0 2rem;

            display: flex;
            justify-content: space-evenly;
            align-items: center;

            z-index: 500;
        }
    }

    &__center {
        height: $space-size * 2;
        width: $space-size * 2;    

        background-color: $color-grey-dark-1 !important;
        border-radius: 50%;

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        z-index: 1000;
    }
}

.hud {
    background-color: $color-grey-light-2;
    height: 100%;
    padding: 2rem;

    flex: 2 1 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__status {

        display: flex;

        justify-content: space-evenly;

        &--piece {
            width: 50%;
            padding: 2rem;       

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &--die {
            width: 50%;

            display: flex;
            justify-content: center;
            align-items: center;

            & img {
                width: 50%;
                height: auto;
            }
        }
    }

    &__legend {

        padding: 1rem 2rem;
        background-color: $color-grey-light-1;
        box-shadow: $shadow;

        display: flex;
        flex-wrap: wrap;

        &--row {
            width: 40%;

            display: flex;
            align-items: center;
        }

        &--color {
            background-color: $color-grey-light-2;
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }

        &--category {

        }
    }
}

.question-form {
    background-image: linear-gradient(to bottom right, $color-grey-light-1, $color-grey-light-2);
    width: 80%;
    padding: 2rem 3rem;
    box-shadow: $shadow;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__answer {
        margin: 2rem 3rem;
        width: 50%;
        padding: 1rem 2rem;
    }

    &__button {
        width: 30%;
        background-color: $color-grey-light-2;
        color: $color-grey-dark-1;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        font-weight: 700;
        border: none;
        border-radius: 100px;

        transition: all .2s;

        &:hover {
            transform: translateY(-.5rem);
            box-shadow: $shadow-small;
        }

        &:active {
            transform: translateY(-.25rem);
        }
    }
}

footer {
    height: 2%;
    background-color: $color-indigo-2;
}