h1 {
    text-align: center;
    color: $color-grey-light-1;
    text-shadow: $shadow-small;
    font-size: 3rem;
    margin-left: 2rem;
}

h2 {
    text-align: center;
    color: $color-grey-light-1;
    font-size: 4rem;
    font-weight: 500;
    text-shadow: $shadow;
}