.cat1 {
    background-color: $color-red-2;
}

.cat1-alt {
    background-color: $color-red-1;
}

.cat2 {
    background-color: $color-orange-2;
}

.cat2-alt {
    background-color: $color-orange-1;
}

.cat3 {
    background-color: $color-yellow-2;
}

.cat3-alt {
    background-color: $color-yellow-1;
}

.cat4 {
    background-color: $color-green-2;
}

.cat4-alt {
    background-color: $color-green-1;
}

.cat5 {
    background-color: $color-blue-2;
}

.cat5-alt {
    background-color: $color-blue-1;
}

.cat6 {
    background-color: $color-purple-2;
}

.cat6-alt {
    background-color: $color-purple-1;
}


.catRollAgain {
    background-color: $color-grey-dark-1;
}