.legend {
    padding: 1rem 2rem;
    background-color: $color-grey-light-1;
    box-shadow: $shadow;

    display: flex;
    flex-wrap: wrap;

    &--row {
        width: 40%;

        display: flex;
        align-items: center;
    }

    &--color {
        background-color: $color-grey-light-2;
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
}