.header {
    height: $header-height;
    background-color: $color-indigo-2;

    padding-left: 2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__right-nav {
        height: 100%;

        list-style: none;

        display: flex;
        justify-content: flex-end;

        &--pic {
            width: auto;
            height: 100%;
        }

        &--link {
            height: 100%;
            padding: 0 3rem;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

#profile {
    background-color: $color-aqua-1;

    transition: all .2s;

    & a { color: $color-grey-dark-2; }

    &:hover {
        background-color: $color-aqua-2;

        & a {
            color: $color-grey-light-1;

            transition: all .2s;
        }
    }
}