.question {
    height: 100%;
    width: 100%;

    flex: 3 1 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.question-form {
    background-color: $color-grey-light-2;
    color: $color-grey-light-1;
    width: 80%;
    padding: 3rem 4rem;
    box-shadow: $shadow;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__question {
        text-align: center;
    }

    &__answers {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__group {
        display: flex;
        align-items: center;
    }

    &__radio {
        margin-right: 1rem;
    }
}