.space {
    color: $color-grey-light-1;

    background-color: $color-secondary-1-1;

    display: flex;
    justify-content: center;
    align-items: center;

    &__node {
        background-color: $color-primary-4;
    }

    &__spoke-space {
        background-color: $color-secondary-2-0;

        width: 2.5rem;
        height: 2.5rem;
    }
}