body {
    font-family: $font-primary;
}

a {
    text-decoration: none;
    color: $color-grey-light-1;
}

ul {
    list-style: none;
}

.title {
    color: $color-grey-light-1;
    font-size: 8rem;
}

.subtitle {    
    color: $color-grey-light-1;
    font-size: 4rem;
}

.homepage-link {
    text-decoration: none;
    color: $color-grey-light-1;
    font-size: 2rem;
    font-weight: 700;
}

.homepage-bracket {
    color: $color-red-2;
    font-weight: 700;
}

.header-main {
    font-size: 3rem;
}

.header-link {
    font-size: 2rem;
    font-weight: 600;
}

.hud-message {
    color: $color-grey-light-1;
    font-size: 4rem;
    
    &--rolled {
        display: none;
    }
}

.question-form {

    &__question {
        color: $color-grey-light-1;
        font-size: 3.5rem;
        font-weight: 600;
    }

    &__label {
        font-size: 2.5rem;
    }
}

.about-header {
    color: $color-grey-dark-2;
    font-size: 5rem;
}

.team-member-name {
    color: $color-grey-light-1;
    font-size: 2.5rem;
    text-shadow: $shadow-small;
}

.team-member-bio {
    color: $color-grey-light-1;
    font-size: 1.5rem;
    font-weight: 700;
    text-shadow: $shadow-small;
}

.team-member-link {
    font-size: 1.5rem;
}