.u-center-text { text-align: center !important; }

.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium { margin-bottom: 4rem !important; }
.u-margin-bottom-big { margin-bottom: 8rem !important; }

.u-color1 { background-color: $color-red-2 !important; }
.u-color1-alt { background-color: $color-red-1 !important; }
.u-color2 { background-color: $color-orange-2 !important; }
.u-color2-alt { background-color: $color-orange-1 !important; }
.u-color3 { background-color: $color-yellow-2 !important; }
.u-color3-alt { background-color: $color-yellow-1 !important; }
.u-color4 { background-color: $color-green-2 !important; }
.u-color4-alt { background-color: $color-green-1 !important; }
.u-color5 { background-color: $color-blue-2 !important; }
.u-color5-alt { background-color: $color-blue-1 !important; }
.u-color6 { background-color: $color-purple-2 !important; }
.u-color6-alt { background-color: $color-purple-1 !important; }
.u-colorRollAgain { background-color: $color-grey-dark-1 !important; }

.u-button-green { background-color: $color-green-2 !important; 
    &:hover { background-color: $color-green-1 !important; }    
}
.u-button-red { background-color: $color-red-2 !important; 
    &:hover { background-color: $color-red-1 !important; }    
}